<div class="modal-header">{{Translation.AddNewItems}}<button type="button" class="close" ng-click="Cancel()">&times;</button></div>
<div class="modal-body">
    <form ng-submit="Search(vm.SearchText)">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-9">
                    <input type="text" select-on-focus-input class="form-control"
                           placeholder="{{Translation.SearchForItems}}" ng-model="vm.SearchText">
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default pull-right"
                            ng-click="Search(vm.SearchText)"
                            ng-disabled="!SearchTextValid()">
                        <i class="fa fa-search"></i>&nbsp;&nbsp;{{Translation.Search}}
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div ng-show="vm.Items && !vm.Items.length">
        <div class="alert alert-warning">{{Translation.NoItemsHaveBeenFound}}</div>
    </div>

    <div class="mx-table-sync panel panel-default fill-height" style="margin-bottom: 0; padding-top: 0;" ng-show="vm.Items && vm.Items.length">
        <table class="table table-striped" mx-table-sync>
            <thead>
                <tr>
                    <th ng-repeat="column in GridDefinitions"
                        class="{{column.ColWidth}}"
                        ng-click="column.Field && SortColumn(column.Field)"
                        ng-class="{ 'pointer-cursor': column.Field }">
                        <span>{{ column.Title }}</span>&nbsp;&nbsp;
                        <i class="fa"
                           ng-class="{
                                'fa-angle-down': !DisplayOptions.SortAscending,
                                'fa-angle-up': DisplayOptions.SortAscending,
                                'invisible': DisplayOptions.SortProperty !== column.Field
                        }">
                        </i>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="modal-body-fixed touch-scrollable" style="margin-bottom: 0; height: 350px;" ng-show="vm.Items && vm.Items.length">
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="item in vm.Items" mx-repeat-scroll-top
                        ng-class="{'active': vm.SelectedIdHash[item.Id + item.IsRaw]}"
                        ng-click="!vm.ExistingIdHash[item.Id + item.IsRaw] && AddItem(item)">
                        <td class="{{GridDefinitions[0].ColWidth}}">
                            <div ng-show="!vm.ExistingIdHash[item.Id + item.IsRaw]">
                                <i ng-hide="vm.SelectedIdHash['' + item.Id + item.IsRaw]" class="fa fa-square-o"></i>
                                <i ng-show="vm.SelectedIdHash['' + item.Id + item.IsRaw]" class="fa fa-check-square-o"></i>
                            </div>
                        </td>
                        <td class="{{GridDefinitions[1].ColWidth}}" ng-class="{'mx-disabled': vm.ExistingIdHash[item.Id + item.IsRaw] }">
                            <div ng-disabled="vm.ExistingIdHash[item.Id + item.IsRaw]">
                                {{item.Name}} - {{item.ItemCode}}
                            </div>
                        </td>
                        <td class="{{GridDefinitions[2].ColWidth}}" ng-class="{'mx-disabled': vm.ExistingIdHash[item.Id + item.IsRaw] }">
                            <div ng-disabled="vm.ExistingIdHash[item.Id + item.IsRaw]">
                                {{item.IsRaw ? Translation.Raw : Translation.Finished }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-top: 0;">
    <button class="btn btn-default pull-left" 
            ng-click="Cancel()">
        {{Translation.Cancel}}
    </button>
    <button class="btn btn-success"
            ng-show="vm.AddSelectedItems.length > 0"
            ng-click="AddItemsToQueue()">
        {{Translation.AddItems}} {{vm.AddSelectedItems.length}}
    </button>
</div>