<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <appSettings>
    <add key="LogFilePath" value="C:\temp\webaccess\" />
    <add key="CommunicatorServiceKey" value="1000000" />
    <add key="RmhAccessPass" value="r0ckend" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultFromMailAddress" value="notifications@lookatmystrata.com.au" />
    
    <!-- DEV (just leave uncommented, PROD and UAT both get these values from the Azure ServiceConfiguration.cscfg ) 
    <add key="RmhAddress" value="https://localhost/RockendMessageHandler/requestservice.svc" />
    <add key="RestCentralConnString" value="server=.;database=RestCentral;user id=restcom;pwd=D1am0nd!;MultipleActiveResultSets=True;Min Pool Size=2"/>
    <add key="Environment" value="Dev" />
    -->
    <!-- UAT -->
    <add key="RmhAddress" value="https://rockendcloudmh.cloudapp.net/rmhservice/requestservice.svc" />
    <add key="RestCentralConnString" value="Server=ai8zxgvi72.database.windows.net;Database=RestCentralUat;User ID=AARockend@ai8zxgvi72;Password=D1am0nd!;Trusted_Connection=False;Min Pool Size=1" />
    <add key="Environment" value="Uat" />
    
    <!-- PROD 
    <add key="RmhAddress" value="https://rockend.cloudapp.net/rmhservice/requestservice.svc" />
    <add key="RestCentralConnString" value="Server=ai8zxgvi72.database.windows.net;Database=RestCentral;User ID=AARockend@ai8zxgvi72;Password=D1am0nd!;Trusted_Connection=False;Min Pool Size=1"/>
    <add key="Environment" value="Prod" />
    -->
    <!-- StrataSupport   (note:  it is case sensitive) 
    <add key="RmhAddress" value="https://rockendsupport.cloudapp.net/rmhservice/requestservice.svc" />
    <add key="RestCentralConnString" value="Server=ai8zxgvi72.database.windows.net;Database=Support;User ID=AARockend@ai8zxgvi72;Password=D1am0nd!;Trusted_Connection=False;MultipleActiveResultSets=True;Min Pool Size=5" />
    <add key="Environment" value="Support" />
    -->

  </appSettings>
  <system.web>
    <!-- DEV
          <sessionState
            mode="SQLServer"
            sqlConnectionString="Server=.;Database=ASPState;User ID=AARockend;Password=D1am0nd!;Trusted_Connection=False;MultipleActiveResultSets=True;Min Pool Size=1"
            cookieless="false"
            timeout="18"
            allowCustomSqlDatabase="true" />
 -->
    <!-- PROD (re-use the prod db for all environments) -->
    <sessionState mode="SQLServer" sqlConnectionString="Server=ai8zxgvi72.database.windows.net;Database=ASPState;User ID=AARockend@ai8zxgvi72;Password=D1am0nd!;Trusted_Connection=False;Min Pool Size=1" cookieless="false" timeout="21" allowCustomSqlDatabase="true" />
    <!--		<sessionState cookieless="UseDeviceProfile" timeout="20"/>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="/Login/Login" protection="All" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="sslBinding" receiveTimeout="00:5:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="RMHService" address="" binding="wsHttpBinding" bindingConfiguration="sslBinding" contract="Rockend.WebAccess.Common.IRequestService"></endpoint>
    </client>
    <services>
      <service name="Communicator.Web.DailyCheck">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="sslBinding" contract="Communicator.Web.IDailyCheck"></endpoint>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <!-- STATE (all environments) -->
    <add name="ASPState" connectionString="Server=ai8zxgvi72.database.windows.net;Database=ASPState;User ID=AARockend@ai8zxgvi72;Password=D1am0nd!;Trusted_Connection=False;Min Pool Size=2" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>