<?xml version="1.0"?>
<StructureMap>
  <!-- Put StructureMap configuration here -->

  <DefaultInstance PluginType="Mx.Administration.Services.Contracts.QueryServices.IEntityTimeQueryService, Mx.Administration.Services.Contracts" PluggedType="Mx.Administration.Services.QueryServices.EntityTimeQueryService, Mx.Administration.Services" />
  <DefaultInstance PluginType="Mx.Forecasting.Services.Repositories.IForecastActualsQueryStrategy, Mx.Forecasting.Services.Repositories" PluggedType="Mx.Forecasting.Services.Repositories.ForecastActualsRangeConstraintQueryStrategy, Mx.Forecasting.Services.Repositories" />
  <AddInstance Key="ReverseEventSystemForecastAdjuster" PluginType="Mx.Forecasting.Services.Interfaces.Services.ISystemForecastAdjuster, Mx.Forecasting.Services.Interfaces" PluggedType="Mx.Forecasting.Services.Forecasting.ReverseEventSystemForecastAdjuster, Mx.Forecasting.Services">
      <Property Name="sequence" Value="0" />
  </AddInstance>
  <AddInstance Key="MirroringForecastAdjuster" PluginType="Mx.Forecasting.Services.Interfaces.Services.ISystemForecastAdjuster, Mx.Forecasting.Services.Interfaces" PluggedType="Mx.Forecasting.Services.Forecasting.MirroringForecastAdjuster, Mx.Forecasting.Services">
      <Property Name="sequence" Value="1" />
  </AddInstance>
  <AddInstance Key="ReversePastPromotionForecastAdjuster" PluginType="Mx.Forecasting.Services.Interfaces.Services.ISystemForecastAdjuster, Mx.Forecasting.Services.Interfaces" PluggedType="Mx.Forecasting.Services.Forecasting.ReversePastPromotionForecastAdjuster, Mx.Forecasting.Services">
      <Property Name="sequence" Value="2" />
  </AddInstance>
  <AddInstance Key="PromotionItemForecastAdjuster" PluginType="Mx.Forecasting.Services.Interfaces.Services.ISystemForecastAdjuster, Mx.Forecasting.Services.Interfaces" PluggedType="Mx.Forecasting.Services.Forecasting.PromotionItemForecastAdjuster, Mx.Forecasting.Services">
      <Property Name="sequence" Value="3" />
  </AddInstance>
  <AddInstance Key="AutoEventSystemForecastAdjuster" PluginType="Mx.Forecasting.Services.Interfaces.Services.ISystemForecastAdjuster, Mx.Forecasting.Services.Interfaces" PluggedType="Mx.Forecasting.Services.Forecasting.AutoEventSystemForecastAdjuster, Mx.Forecasting.Services">
      <Property Name="sequence" Value="4" />
  </AddInstance>
  <AddInstance Key="UserEventSystemForecastAdjuster" PluginType="Mx.Forecasting.Services.Interfaces.Services.ISystemForecastAdjuster, Mx.Forecasting.Services.Interfaces" PluggedType="Mx.Forecasting.Services.Forecasting.UserEventSystemForecastAdjuster, Mx.Forecasting.Services">
      <Property Name="sequence" Value="5" />
  </AddInstance>
  <!-- BBI specific setting for finish count -->
  <DefaultInstance PluginType="Mx.Inventory.Services.Contracts.QueryServices.IApplyDateService, Mx.Inventory.Services.Contracts"
        PluggedType="Mx.Inventory.Services.ClientSpecific.BBI.BBIApplyDate, Mx.Inventory.Services" />

</StructureMap>