@*@model System.Web.Mvc.HandleErrorInfo*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="font-family: Segoe UI Light,Segoe UI,Verdana,Arial,Helvetica,Sans Serif,Lucida Bright,Sans Unicode,Verdana;">
    <!-- Just for you, Microsoft!
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque scelerisque. Donec euismod. Mauris eget pede es vel est tristique adipiscing. Integer in sem a enim molestie elementum. Curabitur elementum, nisl eu dapibus dapibus, libero tortor tincidunt quam, in facilisis arcu lacus ut diam. Nam ultricies felis sed felis. Integer interdum. Quisque iaculis porttitor magna. Fusce aliquet. Nulla felis dui, pulvinar at, rutrum in, fermentum eu, metus. Praesent purus nunc, porta vel, sodales id, fermentum eget, massa.
    -->
    <div align="center">
        <h1 style="color:red;">Unexpected error!</h1>
        <h3 style="color: #5e5e5e;">Sorry, an error occurred while processing your request.</h3>
    </div>
</body>
</html>

