<header>
  <div class="container">
    <div class="row"><img src="./../assets/images/Banner.jpg" /></div>
  </div>
</header>

<section id="content-section" class="content-section">
  <div class="container">
    <div class="row"><app-tab-example></app-tab-example></div>
  </div>
  <div class="container main-container">
    <div class="row">
      <div class="example-col">
        <p><b>Kendo ButtonGroup</b></p>
        <kendo-buttongroup>
          <button kendoButton [toggleable]="true">Option A</button> <button kendoButton [toggleable]="true">Option B</button>
          <button kendoButton [toggleable]="true">Option C</button>
        </kendo-buttongroup>
      </div>
    </div>
    <!-- <div class="row"><app-chat></app-chat></div> -->
    <div class="row">
      <p><b>Kendo Datepicker</b></p>
    </div>
    <div class="row">
      <br />
      <app-kendo-datepicker></app-kendo-datepicker>
    </div>
    <div class="row">
      <p><b>Kendo Dialog</b></p>
    </div>
    <div class="row">
      <br />
      <app-kendo-dialog></app-kendo-dialog>
    </div>
    <div class="row">
      <p><b>Bootstrap accordion</b></p>
    </div>
    <div class="row">
      <br />
      <app-bs-accordion></app-bs-accordion>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row"><img src="./../assets/images/FooterBanner.jpg" /></div>
  </div>
</footer>
