@{
    ViewBag.Title = "Frequently Asked Questions";
}
@section HeadTagsSection
{
    <script type="text/javascript">
        $(document).ready(function () {

            // Hide all dds
            $("dl.v_show_hide dd").hide();

            //  When a dt is clicked, 
            $("dl.v_show_hide dt").click(function () {
                //  Toggle the slideVisibility of the dd directly after the clicked dt
                $(this).next("dd").slideToggle("fast")
                //  And hide any dds that are siblings of that "just shown" dd.
		    .siblings("dd").slideUp("fast");
            });

        });
    </script>
    <style>
        dl.v_show_hide dt
        {
            color: #888;
            font-size: 15px;
            font-weight: bold;
            margin-top: 8px;
        }
        dl.v_show_hide dt:hover
        {
            color: #616161;
            background-color: #f2f2f2;
            cursor: pointer;
        }
        dl.v_show_hide dd
        {
            margin: 0;
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 6px;
        }
    </style>
}
<dl class="v_show_hide">
    <h1>
        Frequently Asked Questions</h1>
    <dt>How do I change my password?</dt>
    <dd>
        Click on the 'Change password' link at the top right of the screen and follow the
        prompts.
    </dd>
    <br />
    <dt>Nothing happens when I view my reports</dt>
    <dd>
        Your browser may require you to give permission to download PDF files. Please check
        for notifications at the top of your screen when you click on the View button.
    </dd>
    <br />
    <dt>I get an error message when I view my reports</dt>
    <dd>
        You may be trying to download a report that does not contain any data for the selected
        period. Please check with your Manager.
    </dd>
    <br />
    <dt>Can anyone else see my reports?</dt>
    <dd>
        The only way to access your reports is to log in via this website using the login details provided to you by your Manager. As a precaution it is recommended that you do not share these login details with anyone.
    </dd>
    <br />
    <dt>I paid my levies earlier today. When will that payment appear on my current owner account?</dt>
    <dd>
        The information is updated automatically when the transaction is processed by your Manager. Payments that were made electronically (EFT, BPAY) will show on your ledger when the transaction appears on your the agent's bank statement and after it has been processed by them. Payments made electronically on Fridays, weekends or public holidays can take longer to appear on the ledger.</dd>
    <br />
    <dt>What type of transactions will I be able to see on my reports?</dt>
    <dd>
        The information that is available from this portal website is a duplicate of what is provided by your Manager produced in their office.</dd>
    <br />
    <dt>I did not receive an email with my password</dt>
    <dd>
        If the email is not in your Junk Mailbox, please contact your Manager to make sure they have your updated email address.
    </dd>
    <br />
    <dt>The website does not display correctly on my screen</dt>
    <dd>
        Your browser may need to be updated. The website is optimised for:
        <p>
            <ul class="ticks">
                <li><a href="http://windows.microsoft.com/en-AU/internet-explorer/products/ie/home"
                    target="_blank">Microsoft IE9</a></li>
                <li><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a></li>
                <li><a href="http://www.google.com/chrome/?brand=CHKB&utm_campaign=en&utm_source=en-ha-aunz-ct&utm_medium=ha"
                    target="_blank">Google Chrome</a></li>
            </ul>
        </p>
        <br />
</dl>
