<div class="modal-header">{{ Translations.AddUser }}<button type="button" class="close" ng-click="Cancel()">&times;</button></div>
<div class="modal-body">
    <div class="modal-body-fixed">
        <form class="form-horizontal fill-height" role="form" name="NewUserForm" autocomplete="off">
            <tabset class="fill-height container-1-toolbar">
                <tab heading="{{ Translations.Attributes }}" class="fill-height">
                    <div class="panel panel-default panel-body fill-height touch-scrollable">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{Translations.HomeLocation}}:</label>
                            <div class="col-sm-8">
                                <label class=" control-label"><strong>{{ CurrentLocation.DisplayName }}</strong></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{Translations.FirstName}}*</label>
                            <div class="col-sm-8">
                                <input type="text" name="FirstName" ng-model="NewUser.FirstName" class="form-control" required maxlength="35" ng-blur="GetSuggestedUserName()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{Translations.MiddleName}}</label>
                            <div class="col-sm-8">
                                <input type="text" name="MiddleName" ng-model="NewUser.MiddleName" class="form-control" maxlength="35" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{Translations.LastName}}*</label>
                            <div class="col-sm-8">
                                <input type="text" name="LastName" ng-model="NewUser.LastName" class="form-control" required maxlength="35" ng-blur="GetSuggestedUserName()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{Translations.EmployeeNumber}}*</label>
                            <div class="col-sm-8">
                                <input type="text" name="EmployeeNumber" ng-model="NewUser.EmployeeNumber" class="form-control" required maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{Translations.Username}}*</label>
                            <div class="col-sm-8">
                                <input type="text" name="UserName" ng-model="NewUser.UserName" class="form-control" required maxlength="50" ng-change="UserNameModified()" />
                            </div>
                        </div>
                        <div style="display: none;">
                            <!--This is been added because autocomplete = off does not work for chrome.-->
                            <input type="text" id="field1" />
                            <input type="password" id="field2" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{Translations.Password}}</label>
                            <div class="col-sm-8">
                                <input type="password" id="UserPassword" name="UserPassword" ng-model="NewUser.Password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{Translations.ConfirmPassword}}</label>
                            <div class="col-sm-8">
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" ng-model="NewUser.ConfirmPassword" class="form-control" />
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{{ Translations.SecurityGroups }}">
                    <div class="panel panel-default panel-body fill-height touch-scrollable">
                        <div class="list-group">
                            <div ng-click="OnRowClick(sg, NewUserForm)" class="list-group-item" ng-if="(sg.IsEditable || sg.IsDefault)" ng-repeat="sg in SecurityGroups">
                                <input name="sgCheckbox" ng-click="OnRowClick(sg, NewUserForm);$event.stopPropagation()" type="checkbox" ng-model="sg.IsDefault" ng-checked="sg.IsDefault" ng-disabled="(!sg.IsEditable && sg.IsDefault)">  &nbsp;&nbsp;{{sg.Name}}
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="Cancel()">{{ Translations.Cancel }}</button>
    <button class="btn btn-success" ng-click="AddAnother(NewUserForm)" ng-disabled="NewUserForm.$invalid">{{ Translations.AddAnother }}</button>
    <button class="btn btn-default" ng-click="SaveAndClose(NewUserForm)" ng-disabled="NewUserForm.$invalid && NewUsers.length === 0">{{ Translations.SaveAndClose }}</button>
</div>