@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Strata Demo</title>
    <link href="/Content/Styles/reset-min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Styles/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="topBar">
        <div class="inner">
            <a href="#">FAQs</a>&nbsp;|&nbsp;<a href="#">Site Map</a>&nbsp;|&nbsp;<a href="#">Help</a>
        </div>
    </div>
    <div class="topContainer">
        <div class="logoContainer">
            <img src="/Content/Images/strata-management.jpg" />
        </div>
        <div class="linksContainer">
            <a href="https://www.lookatmystrata.com.au/?aid=799187"><img src="/Content/Images/owner.jpg" /></a><a href="https://www.lookatmystrata.com.au/?aid=799187"><img src="/Content/Images/executive.jpg" /></a>
        </div>
    </div>
    <div class="imageContainer">
    </div>
    <div class="menuContainer">
        <a class="activeLink" href="/demo">Home</a><a href="#">Services</a><a href="#">Buying</a><a href="#">Selling</a><a
            href="#">About</a><a href="#">Contact us</a>
    </div>
    <div class="contentContainer">
        
<div class="left">
    <h2>
        Strata Management</h2>
    <p class="rightPadding">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
        minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
        ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
        velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
        eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit<br />
    </p>
</div>
<div class="right">
    <h2>
        News</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
        minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
        ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
    </p>
</div>

    </div>
    <div class="footerContainer">
        <div class="footer">
            &copy; Copyright Real Estate Company 2013 | Sitemap | Privacy</div>
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33913773-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
