<div class="full">
    <h2>
        Viewing Reports</h2>
</div>
<div class="hr">
    <hr />
</div>
<p>
    If you are using Internet Explorer with Windows XP (Service Pack 2) or Windows Vista
    you may experience difficulties viewing reports from this website. To avoid these
    problems it is recommended that you add this site to your trusted sites and reduce
    the security level for your trusted sites.
</p>
<br />
<p>
    You will need to perform 5 steps in order to do this:
</p>
<br />
<ol type="1">
    <li>Go to Internet Options from the Tools menu</li>
    <br />
    <br />
    <img src="../../Content/Images/IEToolsMenu.png" />
    <br />
    <li>Under the Security tab select Trusted sites</li>
    <li>Click the Sites button</li>
    <li>In the Trusted sites window ensure that the website is shown and click the Add button,
        then close the Trusted sites window</li>
    <li>Move the security level slider to Medium-Low</li>
</ol>
<br />
<img src="../../Content/Images/IESecurity.png" />
