<div class="panel panel-default fill-height container-1-toolbar">
    <div class="panel-heading mx-white">
        <div class="row">
            <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-success" ng-disabled="!Vm.IsDirty" ng-click="SaveForecastFilterUsageSettings()">{{Translations.Save}}</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row touch-scrollable fill-height">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <div class="col-xs-6">
                                    <strong> {{Translations.Function}} </strong>
                                </div>
                                <div class="col-xs-6 pull-right">
                                    <strong> {{Translations.Filter}} </strong>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="func in Vm.Functions" ng-if="func.IsActive === true">
                            <td>
                                <div class="col-xs-6">
                                    {{Translations[func.Name]}}
                                </div>
                                <div class="col-xs-6 dropdown pull-right" dropdown>
                                    <select class="form-control"
                                            ng-model="func.ServiceGroupId"
                                            ng-options="filter.Id as filter.Name for filter in Vm.ForecastFilters"
                                            ng-change="FilterChanged()"
                                            name="Filter">
                                        <option value="" ng-if="false"></option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
