.dropdown-menu > li > a {
  padding: 14px;
  border-bottom: 1px solid #e5e5e5;
}
.dropdown-menu > li > a .glyphicon,
.dropdown-menu > li > a .fa {
  padding-right: 14px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /* store nav bar open background color */
  background-color: #1f366c;
}
.navbar-default .navbar-nav > li > a {
  /*Nav bar store name*/
  color: #fff;
  cursor: pointer;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  /* Tab Selected */
  color: #1f366c;
  width: 150px;
  font-weight: normal;
  text-align: center;
  background-color: #fff;
  border: 1px solid #dcdfe8;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs > li > a {
  /* Tab Unselected + rollover */
  background-color: #e7e8ed;
  width: 150px;
  text-align: center;
  margin-right: 2px;
  margin-bottom: 1px;
  line-height: 1.428571429;
  border: 0px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #dcdfe8 #dcdfe8 #dcdfe8;
}
.nav > li > a:hover,
.nav > li > a:focus {
  /* Location roll over */
  background-color: #f1f2f7;
  cursor: pointer;
}
