.mx-text-true {
  color: #ffffff !important;
}
.panel-mx {
  background-color: #062332;
  top: 10px;
  bottom: 0;
  width: 210px;
  position: fixed;
  z-index: 1000;
  margin-bottom: 0;
  border-radius: 0;
  overflow: auto;
}
.navbar-backdrop {
  position: fixed;
  left: 210px;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #0c162b;
  opacity: 0.4;
  filter: alpha(opacity=40);
  z-index: 1000;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.subpanel-mx .list-group {
  margin-bottom: 0px;
}
.subpanel-mx .list-group a.list-group-item.active:hover,
.subpanel-mx .list-group a.list-group-item.active:focus {
  color: #25a9cc;
  background-color: #014360;
  border: 0;
  padding-left: 50px;
  font-weight: bold;
}
.subpanel-mx .list-group a.list-group-item.active {
  color: #25a9cc;
  background-color: #013a51;
  border: 0;
  padding-left: 50px;
}
.subpanel-mx .list-group a.list-group-item:focus,
.subpanel-mx .list-group a.list-group-item:focus {
  text-decoration: none;
  background-color: #062332;
}
.subpanel-mx .list-group .list-group-item {
  padding: 13px 13px;
  background-color: #062332;
  border: 1px solid #1c263b;
}
.subpanel-mx .list-group .list-group-item:first-child,
.subpanel-mx .list-group .list-group-item:last-child {
  border-radius: 0;
}
.subpanel-mx .list-group a.list-group-item {
  color: #8792ab;
}
.subpanel-mx > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #062332;
}
.subpanel-mx > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #062332;
}
.subpanel-mx > .panel-heading:hover,
.subpanel-mx > .panel-heading:focus {
  background-color: #013a51;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.subpanel-mx > .panel-heading {
  color: #8792ab;
  background-color: #062332;
  border-color: #1c263b;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.subpanel-mx > .panel-heading span.active {
  color: #ffffff;
}
.subpanel-mx > .panel-heading a,
.subpanel-mx > .panel-heading a:hover,
.subpanel-mx > .panel-heading a:focus {
  color: #25a9cc;
}
.subpanel-mx > .panel-heading i.nav-icon {
  padding-right: 10px;
}
.subpanel-mx > .panel-heading i.nav-icon.fa-flip-horizontal {
  padding-right: unset;
  padding-left: 10px;
}
.subpanel-mx > .panel-heading.active {
  background: #013a51;
}
/*side navigation active + non active*/
.subpanel-mx > .panel-heading {
  color: #25a9cc;
  border-bottom: 1px solid #002e3a;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
}
.subpanel-mx > .panel-heading.active {
  background: #013a51;
  border-bottom: none;
}
/*Side Navigation rollover animation*/
.subpanel-mx .list-group a.list-group-item.active {
  color: #25a9cc;
  background-color: #013a51;
  border: 0;
  padding-left: 50px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
