textElement {
    padding: 5px 0;
}

section {
    .header-view {
        background-color: #f4f4f4;
    }
    button {
        span {
            text-transform: none !important;
        }
    }
}

.appBarStyle {
    background-color: rgb(12, 162, 208) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.listgroupItemStyle {
    padding: 16px 0;
    > div {
        font-family: 'Open Sans', sans-serif, Verdana, Helvetica, Arial;

    }
}

