@{
    ViewBag.Title = "Contact Sent";
}
<div data-role="header" data-position="inline" data-theme="c">
    <h2>Contact Sent</h2>
</div>
<div class="ui-content">
    <div class="mainContent">
        <div class="menuIconContainer" style="margin-bottom: 16px;">
            <a href="@Url.Action("Menu", "Mobile")" data-direction="reverse" data-role="none" data-transition="slide" data-ajax="false">
                <img src="/Content/Images/menuIcon.jpg" /></a>
        </div>
        <br />
        <b>Contact sent, thank you.</b>
    </div>
</div>
